.main-title {
    text-align: center;
}

.card-img {
    position: relative;
}

.card-img .bg-image {
    max-width: 100%;
    min-width: 100%;
}

.card-img-top {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 30%;
}

.card-body {
    margin-top: 50px;
}

.card-body h3,
.card-body p {
    text-align: center;

}

/* grid */

.title {
    text-align: center;
}

.column1 {
    background-color: rgb(241, 185, 185);

}

.column2 {
    background-color: rgb(188, 11, 79);
}

.column3 {
    background-color: rgb(16, 113, 151);
}

.column4 {
    background-color: rgb(7, 176, 64);
}